<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>타임리프 기본</h1>
    <div th:text="${localDateTime}"></div>
    <div th:text="${#temporals.format(localDateTime, 'yyyy-MM-dd HH:mm:ss')}"></div>

    <!-- 날짜 연습 -->
    <div th:text="${#temporals.day(localDateTime)}"></div>
    <div th:text="${#temporals.month(localDateTime)}"></div>
    <div th:text="${#temporals.monthName(localDateTime)}"></div>
    <div th:text="${#temporals.monthNameShort(localDateTime)}"></div>
    <div th:text="${#temporals.year(localDateTime)}"></div>
    <div th:text="${#temporals.dayOfWeek(localDateTime)}"></div>
    <div th:text="${#temporals.dayOfWeekName(localDateTime)}"></div>
    <div th:text="${#temporals.dayOfWeekNameShort(localDateTime)}"></div>
    <div th:text="${#temporals.hour(localDateTime)}"></div>
    <div th:text="${#temporals.minute(localDateTime)}"></div>
    <div th:text="${#temporals.second(localDateTime)}"></div>
    <div th:text="${#temporals.nanosecond(localDateTime)}"></div>


</body>
</html>