<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>date</h1>

<h2>LocalDateTime</h2>
<div th:text="${localDateTime}"></div>
<!--  <div th:text="${#dates.format(localDateTime, 'dd/MMM/yyyy HH:mm')}">-->

<div th:text="${#temporals.format(localDateTime, 'yyyy-MM-dd HH:mm:ss')}"></div>

<div th:text="${#temporals.day(localDateTime)}"></div>
<div th:text="${#temporals.month(localDateTime)}"></div>
<div th:text="${#temporals.monthName(localDateTime)}"></div>
<div th:text="${#temporals.monthNameShort(localDateTime)}"></div>
<div th:text="${#temporals.year(localDateTime)}"></div>
<div th:text="${#temporals.dayOfWeek(localDateTime)}"></div>
<div th:text="${#temporals.dayOfWeekName(localDateTime)}"></div>
<div th:text="${#temporals.dayOfWeekNameShort(localDateTime)}"></div>
<div th:text="${#temporals.hour(localDateTime)}"></div>
<div th:text="${#temporals.minute(localDateTime)}"></div>
<div th:text="${#temporals.second(localDateTime)}"></div>
<div th:text="${#temporals.nanosecond(localDateTime)}"></div>

<h2>Calendar</h2>

<div th:text="${#calendars.format(calendar, 'dd/MMM/yyyy HH:mm')}"></div>

<div th:text="${#calendars.day(calendar)}"></div>
<div th:text="${#calendars.month(calendar)}"></div>
<div th:text="${#calendars.monthName(calendar)}"></div>
<div th:text="${#calendars.monthNameShort(calendar)}"></div>
<div th:text="${#calendars.year(calendar)}"></div>
<div th:text="${#calendars.dayOfWeek(calendar)}"></div>
<div th:text="${#calendars.dayOfWeekName(calendar)}"></div>
<div th:text="${#calendars.dayOfWeekNameShort(calendar)}"></div>
<div th:text="${#calendars.hour(calendar)}"></div>
<div th:text="${#calendars.minute(calendar)}"></div>
<div th:text="${#calendars.second(calendar)}"></div>
<div th:text="${#calendars.millisecond(calendar)}"></div>

<div th:text="${#dates.format(calendar, 'dd/MMM/yyyy HH:mm')}"></div>

<h2>Date</h2>
<div th:text="${date}"></div>
<div th:text="${#dates.format(date, 'dd/MMM/yyyy HH:mm')}"></div>

<h2>Timestamp</h2>
<div th:text="${#dates.format(timestamp, 'dd/MMM/yyyy HH:mm')}"></div>


</body>
</html>