<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

</head>
<body>

<h1>th:inline</h1>
<h2>인라인 적용 X</h2>
<!--<script>-->
<!--  let username =[[${user.username}]];-->
<!--  let age = [[${user.age}]];-->
<!--  alert(username);-->
<!--</script>-->

<h2>인라인 적용 O</h2>
<script th:inline="javascript">
  let username = [[${user.username}]];
  let age = [[${user.age}]];

  let user = [[${user}]];
  console.log(user.username, user.age);
</script>

<script th:inline="javascript">
  let users = [[${users}]];
  console.log(users);
</script>

</body>
</html>