<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <h1>타임리프 기본</h1>
  <div><a th:href="@{/member}">url</a></div>
  <div><a th:href="@{/member(name=${name}, age=${age})}">url querystring</a></div>
  <div><a th:href="@{/member(${name}, ${age})}">url querystring</a></div>
  <div><a th:href="@{/member/{name}/{age}(name=${name}, age=${age})}">pathVariable</a></div>
  <div><a th:href="@{/member/{name}(name=${name}, age=${age})}">pathVariable</a></div>
</body>
</html>